BODY{font-family: Helvetica, sans-serif; line-height:130%; padding:10px}
h1, h2, h3, h4, h5 {font-family: Verdana}
a{color:#37921d;}
a:visited{color:#014101;}
#options{float:left; width:375px}
#interaction{float:left; width:400px;}
#footer{clear:both; text-align:center; padding-top:50px}
.opt{width:296px; padding:0px; margin:0px; cursor:pointer}
#option_button_1{ background: url('/1n.jpg') no-repeat; height:60px;}
#option_button_2{ background: url('/2n.jpg') no-repeat; height:118px; margin-top:20px; clear:after}
.small{font-size:smaller}
.example{text-align:right; margin-right:85px}

#matches {list-style-type:none}
#matches li {line-height:150%; vertical-align:middle; padding-top:15px; clear:both}
#matches img {margin-right:5px; vertical-align:middle}
#matches li div{float:left}
.icon{padding-top:3px}
